@model IEnumerable<QLEventKhoa.Models.tbThamGiaEvent>

@{
    ViewBag.Title = "Sự kiện đã tham gia";
    Layout = "~/Views/Shared/_LayoutSV.cshtml";
}


<section>
    <div class="db">
        <!--LEFT SECTION THÔNG TIN CÁ NHÂN-->
        @Html.Partial("_PartialPageLeftSV")

        <!--CENTER SECTION-->
        <div class="db-2">
            <div class="db-2-com db-2-main">
                <h4>Danh sách sự kiện đã từng tham gia</h4>
                <div class="db-2-main-com db-2-main-com-table">
                    @if (Session["LogIn"] == null)
                    {
                        <p>Vui lòng <a href="@Url.Action("LoginSV","AccountSV")">Đăng nhập</a></p>
                    }
                    else
                    {
                        <table class="table table-hover table-danger" id="event-table">
                            <thead class="alert-danger">
                                <tr>
                                    <th>#</th>
                                    <th>Tên sự kiện</th>
                                    <th>Mã sự kiện</th>
                                    <th>Thời gian bắt đầu</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                   
                                </tr>
                            </thead>

                            <tbody>
                                @{int rowNo = 0;}

                                @foreach (var item in Model)
                                {
                                <tr>
                                    @*<td colspan="6" class="text-center">Bạn chưa đăng ký tham gia sự kiện nào</td>*@
                                    <td>@(rowNo += 1)</td>
                                    <td>@item.tenEvent</td>
                                    <td>@item.tbSuKien.maThamGia</td>
                                    <td>@item.ngayBatDau.ToString("dd-MM-yyyy HH:mm")</td>
                                    <td>@item.tbSuKien.tbTrangThaiEvent.tenTrangThaiEvent</td>
                                    
                                    <td>
                                        <a href="@Url.Action("DetailEvent","HomeSV",new {id=item.idEvent })" class="btn btn-primary" style="font-weight:bold">Xem chi tiết</a>
                                        @*<button type="button" class="btn btn-warning">Hủy</button>*@
                                    </td>


                                </tr>
                                }
                            </tbody>

                            <tfoot class="alert-info">
                                <tr>
                                    <th>#</th>
                                    <th>Tên sự kiện</th>
                                    <th>Mã sự kiện</th>
                                    <th>Thời gian bắt đầu</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>

        <!--RIGHT SECTION-->
    </div>
</section>

<script>
    //datatable
    $(function () {
        $('#event-table').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": false,

        });
    });
</script>


