@*@model IEnumerable<QLEventKhoa.Models.tbSuKien>*@
@{
    ViewBag.Title = "Tìm kiếm sự kiện";
    Layout = "~/Views/Shared/_LayoutSV.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<QLEventKhoa.Models.tbSuKien>

<section>
    <!------------------------------------------------------------------------------------------------------------------------------------>
    <div class="rows inn-page-bg com-colo">
        <div class="container inn-page-con-bg tb-space pad-bot-redu" id="inner-page-title">
            <!-- TITLE & DESCRIPTION -->
            <div class="spe-title col-md-12">
                <h3 style="color:blue">Tìm kiếm sự kiện</h3>
                <div class="title-line">
                    <div class="tl-1"></div>
                    <div class="tl-2"></div>
                    <div class="tl-3"></div>
                </div>
                @using (Html.BeginForm("SearchEvent", "HomeSV", FormMethod.Post))
                {

                    <div class="form-group" style="margin-top: 17px">
                        <div class="form-inline">
                            <!---Tìm kiếm sự kiện-->
                            <input class="form-control autotcomplete" value="@ViewBag.keyword" name="searchSTR" type="search" placeholder="Nhập từ khóa...." aria-label="Search" maxlength="50" style="margin-left: 30px;width: 250px;border-color:blue">
                            <!---Tìm kiếm sự kiện-->
                            <span>
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </span>
                        </div>
                    </div>
                }
            </div>
            <div>
                @foreach (var item in Model)
                {
                    <div id="results">
                        <div class='col-md-6 wow slideInUp'>
                            <a href="@Url.Action("DetailEvent","HomeSV",new {id=item.idEvent })">
                                <div class='tour-mig-like-com'>
                                    <div class='tour-mig-lc-img'> <img src="~/images/uploads/@item.imageEvent" alt=''> </div>
                                    <div class='tour-mig-lc-con'>
                                        <h5>@item.tenEvent</h5>
                                        <p><span>@item.ngayBatDau.ToString("dd-MM-yyyy HH:mm")</span>@item.noiToChuc</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <!--END TITLE & DESCRIPTION -->
        </div>
        <div class="container inn-page-con-bg ">
            <center>
                @Html.PagedListPager(Model, page => Url.Action("SearchEvent", new { page = page }))
            </center>
        </div>
    </div>
</section>


