@model IEnumerable<QLEventKhoa.Models.tbLoaiEvent>
@{
    ViewBag.Title = "Quản lý loại sự kiện";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="content-header">
    <h1 style="text-align">
        Quản lý loại sự kiện
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("IndexAD","HomeAD")"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active"><a href="@Url.Action("IndexLoaiEvent","QLLoaiEvent")">Quản lý loại sự kiện</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <input type="button" class="btn btn-success" id="addLoaiSK" value="Thêm loại sự kiện mới" onclick="addLoaiSK();" />
                    @if (TempData["temp"] != null)
                    {
                        <b style="margin-left:30px">@TempData["temp"]</b>
                    }
                    <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="LoaiSK" class="table table-bordered table-hover">
                        <thead class="alert-info">
                            <tr>
                                <th>#</th>
                                <th>Tên loại sự kiện</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int rowNo = 0;}
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="text-center">@(rowNo += 1)</td>
                                <td>@item.tenLoaiEvent</td>
                                @if (item.statusLoaiEvent == true)
                                {
                                    <td class="text-center"> <b style="color:forestgreen"> Đang hoạt động   </b></td>
                                }
                                else
                                {
                                    <td class="text-center"><b style="color:tomato"> Vô hiệu hóa  </b> </td>
                                }

                                <td style="width:300px;text-align:center">
                                    <a class="btn btn-warning" style="width:135px" id="@item.idLoaiEvent" onclick="editLoaiSK(this.id)">Chỉnh sửa</a>
                                    <a type="button" style="margin-left:5px" href="@Url.Action("TrangThaiLoaiSK", "QLLoaiEvent", new { id = item.idLoaiEvent })" class="btn btn-danger">Thay đổi trạng thái</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot class="alert-info">
                            <tr>
                                <th>#</th>
                                <th>Tên loại sự kiện</th>
                                <th>Trạng thái</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="modal-title"> Quản lý loại sự kiện</h4></center>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#LoaiSK').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });

  

    function addLoaiSK() {
            $.get("@Url.Action("addLoaiSK", "QLLoaiEvent")",
                function (data) {
                    $('.modal-body').html(data);
            });
              $('#myModal').modal({
               backdrop: 'static',
              keyboard: false
              })
              $("#myModal").modal("show");
               
       }

    function editLoaiSK(id) {
              $.get("@Url.Action("editLoaiSK", "QLLoaiEvent")/" + id,
                function (data) {
                    $('.modal-body').html(data);
            });
               $('#myModal').modal({
               backdrop: 'static',
              keyboard: false
               })
               $("#myModal").modal("show");
       }

</script>